body {
    font-family: Palatino;
    color: rgb(255, 255, 255);
    background-color: rgb(5,  85, 190);
    font-size: 18px;
    padding: 8px;
}

.hi {
    font-size:40px;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 1%;
}

